#about-me{
    padding: 40px 10px 40px 10px;;
}
.long-description{
    font-size: 1.6rem;
    line-height: 2.8rem;
}

#contact .redes-sociales{
    justify-content: flex-start;
}

.copyright{
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}