:root{
    --cool-blue: rgb(4, 12, 24);
    --dark-blue: rgb(2, 6, 12);
    --light-blue: rgb(114, 175, 233);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

header{
    background-color: var(--cool-blue);
    
}
#navbar{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: var(--dark-blue);
    position: absolute;
    margin-right: 30px;
}

.nav-items{
    display: flex;
    list-style: none;
}

.nav-item{
    text-decoration: none;
    padding: 0 10px 0 10px;
    font-size: 1.4rem;
    color: #fff;
    font-weight: 700;
}
#welcome-section{
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.profile-pic img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 120px;
    margin-bottom: 15px;

}
h1{
    color: white;
    font-weight: 700;
    font-size: 2.4rem;
}
.social-network-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px 5px 0 5px;
}
.social-network-icons #linkedin-icon{
    background-image: url('./images/linkedin-icon.png');
}
.social-network-icons #github-icon{
    background-image: url('./images/github-icon.png');
}
.social-network-icons #instagram-icon{
    background-image: url('./images/instagram-icon.png');
}
.short-description{
    color:var(--light-blue);
    font-weight: 50;
    font-size: 2rem;
    margin-top: 5px;
}
form{
    display: flex;
    margin-top: 30px;
}
.input-bar{
    min-width: 250px;
    max-width: 600px;
    border-radius: 15px;
    padding-left: 10px;
    border: none;

}
.boton-enviar{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: var(--light-blue);
    cursor: pointer;

}
.icono-avion{
    
    width: 15px;
    height: 15px;
    background-image: url('./images/paper-plane-solid.svg');
}

.conocer-mas{
    position: relative;
    bottom: -20px;
    left: calc(50% - 75px);
    font-family: 'Lato';
    width: 150px;
    height: 40px;
    background-color: #FF6712;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    cursor: pointer;

}

.button-up{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    position: fixed;
    bottom: 10px;    
    right: 8px;
    background-color: #386FC1;
    background-image: url('./images/arrow-up.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    
}


#about-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 20px 10px;
}
.long-description{
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin: 20px 10px;
    min-width: 280px;
    max-width: 560px;    

}
.link-descarga{
    display: flex;
    align-items: flex-end;
    border-bottom: solid 1px black;
    margin-bottom: 20px;
    width: 150px;
}
.cv-pdf-logo{
    display: inline-block;
    width: 20px;
    height:20px;
    background-image: url('./images/pdf-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cv-text {
    display: inline-block;
    color: black;
    font-size: 1.4rem;
    line-height: 1.8rem;
    
}

.cv-text a{
    text-decoration: none;
    color: black;    
}

#about-me img{
    min-width: 280px;
    max-width: 450px;
    height: auto;
}


#projects{
    width: 100%;
    min-width: 320px;
    padding-top:30px ;
    background-color: var(--cool-blue);
}
.subtitulo{
    display: flex;
    justify-content: center;
    
}

.subtitulo h2{
    color:#fff;
    font-size: 2.4rem;
    border-bottom: 0.2rem solid white;
}
.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#project-title{

    width: 280px;
    height: auto;
    background-color: var(--dark-blue);
    margin: 50px;
    border: black 1px solid;
    
}



#project-title img{
    width: 280px;
    height: auto;
}
#profile-link{
    text-decoration: none;

}
.titulos-proyectos{
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 20px;
}
#software{
    background-color: #fff;
    width: 100%;
    height: 300px;
    
}
.software-titulo{
    display: inline-block;
    margin: 20px 0 20px 10px;
    border-bottom: 0.2rem solid black;
}
#software h2{
    
    font-size: 2.4rem;
    
}

.software-cards{
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    height: 210px;
}

.software-card{
    position: relative;
    scroll-snap-align: center;
    color: white;
    min-width: 200px;
    margin: 0 15px 0 15px;
    height: 200px;
    border-radius: 5px;
    box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.software-card-coding{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #386FC1;
    width: 100%;
    height: 30px;
    border-radius: 5px 5px 0 0;
}

.software-card h3{
    font-size: 1.6rem;
}

.icons{
    padding: 20px;
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px 50px;
    grid-gap: 20px 20px;
    justify-content: center; 
    align-items: center;   
    
}

.software{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;

}

#python{
    background-image: url('./images/python-logo.png');
}

#javascript{
    background-image: url('./images/js-logo.png');
}


#css{
    background-image: url('./images/css-logo.png');
}


#html{
    background-image: url('./images/html-logo.png');
}


.software-card-geology{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #20A970;
    width: 100%;
    height: 30px;
    border-radius: 5px 5px 0 0;
}
#petrel{
    background-image: url('./images/petrel-logo.png');
}

#techlog{
    background-image: url('./images/techlog-logo.png');
}


#opendtect{
    background-image: url('./images/opendtect-logo.png');
}


#geolog{
    background-image: url('./images/geolog-logo.png');
}

.software-card-extra{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6712;
    width: 100%;
    height: 30px;
    border-radius: 5px 5px 0 0;
}
#git{
    background-image: url('./images/git-logo.png');
}

#github{
    background-image: url('./images/github-logo.png');
}


#figma{
    background-image: url('./images/figma-logo.png');
}


#illustrator{
    background-image: url('./images/illustrator-logo.png');
}
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(4, 12, 24);
    width: 100%;
    height: 80px;
    min-width: 320px;
}

#contact .redes-sociales{
    margin: 0 10px 0 10px;
    flex-wrap: wrap;
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-content: flex-start;

}
#contact .redes-sociales a{
    text-decoration: none;
    color: white;
}

.copyright{
    width: 50%;
    text-align: center;
}